/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    color: #f1f1f1;
    background-color: #181818;
    padding: 20px;
}

header {
    background: #333;
    padding: 0.5px;
    padding-right: 17%;
    margin-bottom: 20px;
}

header h1, h2 {
    color: #ddd;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

nav {
    display: flex;
    justify-content: flex-end;
    max-width: 80%;
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
}

nav ul li a:hover {
    color:cyan;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 10%;
}

.text-content {
    flex-basis: 60%;
}

.img-content {
    flex-basis: 20%;
}

.img-content img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.img-content-proj {
    flex-basis: 20%;
}

.img-content-proj img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

footer {
    background: #333;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #ddd;
}

@media screen and (max-width: 600px) {
    .content-wrapper {
        flex-direction: column;
        padding: 0 5%;
        gap: 10px;
    }
    .text-content, .img-content {
        flex-basis: 100%;
    }
    #hamburger {
        display: block;
    }
    #sidebar {
        display: none;
    }
}

/* Initially hide the hamburger and display the sidebar */
#hamburger {
    display: none;
}
#sidebar {
    /* Style your sidebar here */
    display: block;
}


