* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

:root {
    --background-color-1: 35, 75, 131;
    --accent-color: #395f9c;
    --accent-color2: #506e9d;
    --accent-color3: #77859c;
}

body, html {
    margin: 0 auto;
    padding: 0;
    font-family: "Tenor Sans", sans-serif;
    color: white;
}

h1, p {
    margin: 0;
}

#header {
    background-color: rgba(var(--background-color-1), 0.5);
    padding: 5px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.row-box {
    display: flex;
    align-items: center;
}

#header-logo {
    margin: 0;
    max-height: 50px;
    margin-right: 5px;
    margin-left: 10px;
}

.header-text {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}

#navbar {
    position: fixed;
    right: 10px;
    z-index: 9;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    font-family: "Poiret One", sans-serif;
}

#navbar a {
    color: inherit;
    text-decoration: none;
}

#navbar a:hover {
    color: var(--accent-color3);
}

#navbar li {
    font-size: 20px;
    letter-spacing: 2.5px;
}

#navbar a:not(:last-child) {
    margin-right: 50px;
}

#welcome-section {
    background-image: url("images/bg.png");
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 100px;
}

.front-end {
    font-size: 28px;
    color: #C7C7C7;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    font-weight: 500;
}

.front-end-text {
    font-family: 'Kameron', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 84px;
}

span {
    display: block;
}

.welcome-image {
    max-height: 50vh;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

.note {
    font-size: 15px;
}

#projects {
    background-color: rgba(var(--background-color-1), 1.0);
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.title {
    text-align: center;
    letter-spacing: 4px;
    margin: 20px auto;
    font-size: 48px;
    font-family: 'Poiret One';
}

.project-div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.project-div-item img {
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.project-div-item img {
    border-radius: 10px 50px;
    opacity: 0.7;
    box-shadow: 10px 10px 5px var(--accent-color);
    z-index: 0;
}

.project-div-item img:hover{
    opacity: 1.0;
    cursor: pointer;
    box-shadow:  10px 10px 5px var(--accent-color2);
    z-index: 0;
}

.project-div-item img:hover + .proj-description{
    color: #a6b7da;
}

.proj-description {
    margin-top: 5px;
}

#link-section {
    background-color: #4972a8;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.contact-link {
    display: flex;
}

.contact {
    margin: 0 30px 0 1px;
    font-family: 'Urbanist';
    font-size: 24px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20px;
}

.btn:hover {
    opacity: 0.7;
}

.fa-twitter {
    /* background: #55ACEE; */
    background: rgba(var(--background-color-1), 1.0);
    color: white;
}

.fa-github {
    /* background: #ff6600; */
    background: rgba(var(--background-color-1), 1.0);
    color: white;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    margin-top: 10px;
}

.italic {
    font-style: italic;
}

@media (min-width:1090px) and (max-width: 1660px) {
    .project-div {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 600px) and (max-width: 1089px) {
    #navbar a:not(:last-child) {
        margin-right: 40px;
    }

    #welcome-section {
        flex-direction: column;
    }

    .front-end {
        font-size: 24px;
    }

    .front-end-text {
        font-size: 70px;
    }

    .project-div {
        grid-template-columns: auto;
    }
}

@media (max-width: 599px) {
    #header, #navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #navbar {
        position: static;
    }

    #navbar ul {
        flex-direction: row;
    }

    #welcome-section {
        flex-direction: column;
    }

    .welcome-div .front-end {
        font-size: 18px;
        margin-top: 80px;
    }

    .front-end-text {
        font-size: 60px;
    }

    .project-div {
        grid-template-columns: auto;
    }

    .project-div-item img {
        height: 200px;
        width: 400px;
    }
}

.hover-over {
    transition: color 1s ease-in-out;
    color: white;
}

.hover-over:hover {
    color: rgba(var(--background-color-1), 1.0);
    cursor: pointer;
}

@keyframes hover-color {
    0% {
        color: white;
    }

    100% {
        color: rgba(var(--background-color-1), 1.0);
    }
}