/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    color: black;
    /* background-color: #fec5bb; */
    background-image: url("./pictures/pxl-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-size: 100% 100%; */
    /* padding: 20px; */
    padding-right: 15%;
    padding-left: 15%;
}

header {
    background: #D8BFD8;
    /* padding: 0.5px; */
    padding-right: 12%;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-width: 3px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: white;
}

header nav {
    /* display: none; */
    justify-content: flex-end;
    max-width: 80%;
    margin-left: auto;
}

header h1, h2 {
    color: black;
}

header h1 {
    font-size: 2em;
    /* margin-bottom: 10px; */
    text-align: center;
}

h1 {
    margin-top: 10px;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}
/* 
nav {
    justify-content: flex-end;
    max-width: 80%;
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color:#98dbb2;
} */

/* nav stuff */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    justify-content: flex-end;
    max-width: 100%;
    margin-left: 0;
    z-index: 12;
    padding-top: 1%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #DA70D6;
    transition: color 0.3s ease-in-out;
}

/* nav stuff end */

p {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

hr {
    border: 1px solid white;
    border-radius: 5px;
    margin: 0em;
}

main {
    background-color: #D8BFD8;
    border-width: 0px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-style: solid;
    border-color: white;
}

.content-wrapper {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    /* padding: 0 10%; */
    background-color: #D8BFD8;    
}

.text-content {
    flex-basis: 60%;
}

.img-content {
    flex-basis: 15%;
}

.img-content img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    padding-top: 20%;
}

.img-content-proj {
    /* flex-basis: 20%; */
    background-color: #D8BFD8;
    display: flex;
    text-align: justify;
    justify-content: center;
}

.img-content-proj img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.img-content-proj-items {
    background-color: #D8BFD8;
    display: grid;
    text-align: left;
}

.img-content-proj-items img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 800px;
    padding-left: 5%;
}

.text-content-proj {
    flex-basis: 60%;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    /* padding: 0 10%; */
    background-color: #D8BFD8;
}

.text-content-proj-items {
    flex-basis: 50%;
    display: grid;
    text-align: justify;
    justify-content: left;
    align-items: flex-start;
    /* gap: 20px; */
    /* padding: 0 10%; */
    padding-left: 1%;
    padding-right: 7%;
    background-color: #D8BFD8;
}

footer {
    background: #D8BFD8;
    padding: 5px;
    /* margin-top: 20px; */
    text-align: center;
    font-size: 0.8em;
    color: #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-width: 3px;
    border-top-width: 0px;
    border-style: solid;
    border-color: white;
    margin-bottom: 20px;
}

.hr-half {
    margin-left: 10%;
    margin-right: 10%;
}

/* Initially hide the hamburger and display the sidebar */
/* .hamburger {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
}
.hamburger:hover {
    color: #98dbb2;
}
.sidebar {
    display: none;
    position: fixed;
    width: 0%;
    background-color: #333;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
} */

@media screen and (max-width: 750px) {
    html {
        font-size: 80%;
    }
    body {
        padding: 1%;
    }
    .content-wrapper {
        flex-direction: column;
        padding: 0 5%;
        gap: 10px;
    }
    .text-content, .img-content {
        flex-basis: 100%;
    }

    .img-content-proj-items img {
        padding-left: 0%;
    }
    /* .hamburger {
        display: block;
    } */
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }
    /* header nav {
        display: none;
    }
    .sidebar {
        display: none;
        position: fixed;
        height: 100%;
    }
    .sidebar.active {
        transform: translateX(0);
    } */
}
@media screen and (min-width: 751px) {
    /* .hamburger {
        display: none;
    } */
    header nav {
        display: flex; /* Explicitly showing the nav on larger screens */
    }
}


